@model MyFirstProject.Models.CourseStudents

<h2>Add Assignment</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="StdId">Student</label>
        <select asp-for="StdId" asp-items="@(ViewData["StdId"] as SelectList)" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="CrsId">Course</label>
        <select asp-for="CrsId" asp-items="@(ViewData["CrsId"] as SelectList)" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="Degree">Degree</label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</form>
